body {
    background-color: rgb(188, 125, 224); 
    background-image: linear-gradient(to right, rgba(246, 235, 255, 0.877) , rgb(125, 45, 190));
    color: white;
}


#mySidenav a{
    display:block;
    position:fixed;
    left: -250px;
    transition: 0.3s;
    padding: 35px;
    width: 300px;
    text-decoration: none;
    font-size: 40px;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    font-family: 'Sofia', cursive;
    text-transform: lowercase;
    text-align: center;

}

#mySidenav a:hover {
    left: 0;
}

#mySidenav a.active {
    left: 0;
}


#saphira {
    top: 50px;
    background-color: rgba(174, 0, 255, 0.432);
}

#projects {
    top: 250px;
    background-color: rgba(127, 2, 185, 0.432);
}

#interests {
    top: 450px;
    background-color: rgba(66, 0, 97, 0.432);
}

#contact {
    top: 650px;
    background-color: rgba(20, 1, 29, 0.432);
}

div.right {
    position:relative;
    right: 500px;
    width: 100px;
    bottom: 0px;
}


h1 {
    font-family: 'Rancho', cursive;
    font-size: 80px;
    line-height: 100px;
    white-space:nowrap;
}

p.intro {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 25px;
    justify-items: right;
}


h2 {
    font-family: 'Rancho', cursive;
}

img.profile {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    
}

.animate__animated.animate__rubberBand{
    animation-iteration-count:infinite;
    
}

body:before {
    content:"";
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1; 
    background-color: rgb(188, 125, 224); 
    background-image: linear-gradient(to right, rgba(246, 235, 255, 0.877) , rgb(125, 45, 190));

}

div.recipe {
    text-align: center;
    padding-top: 20px;
}

div.kt {
    text-align: center;
    padding-top: 20px;
}

div.bonus {
    text-align: center;
    padding-top: 20px;
}

div.buddha
{
    text-align: center;
}

ol li {
    text-align: center;
    list-style-position: inside;
}

div.hobbies {
    display: flex;
    float:right;
    text-align: center;
}

div.contact {
    font-size: 30px;
    color:blueviolet;
}